langchain
langchain-community
langchain-huggingface
transformers
torch
sentence-transformers
faiss-cpu
pymupdf
python-docx
ragas
datasets
streamlit
python-dotenv
numpy
pandas
tqdm
docx2txt
langchain-groq
torchvision