datasets
docx2txt
faiss-cpu
fastapi
langchain
langchain-classic
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters
nltk
numpy
pandas
pydantic
python-dotenv
ragas
rank-bm25
requests
rouge-score
scikit-learn
sentence-transformers
streamlit
torch
transformers
tqdm
uvicorn
